.hero {
    background: var(--first-block-color);
    text-align: center;

@media screen and (min-width: 480px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

@media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    }
}

.overlay {
    margin-left: auto;
    margin-right: auto;

@media screen and (max-width: 767px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile.jpg);
    width: 480px;
    background-size: cover;
 
    }  
    
    
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px)
 {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile@2x.jpg);

    } 





@media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet.jpg);
    width: 768px;
    background-size: cover;
    }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px)
 {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet@2x.jpg);

    }



@media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
            min-width: 1200px;
    max-width: 1600px;
    }

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px)
 {
        background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/hero@2x.jpg);

    }    
}

.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    
    font-weight: 900;
    
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

@media screen and (min-width: 480px) {
        width: 360px;
        font-size: 26px;
    }

@media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
}    
}

.hero-button {
    padding: 10px 32px;
    margin: 0 auto;

    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;


}

.hero__label {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}